---
layout: bootcamp
root: .
venue: Simon Fraser University
address: 8888 University Drive, Burnaby
country: Canada
humandate: Feb 22 and Mar 1, 2014
humantime: 9:00 am - 4:30 pm
startdate: 2014-02-22
enddate: 2014-03-01
latlng: 49.276765,-122.917957
registration: open
instructor: ["Bernhard Konrad", "Scott Chamberlain", "Christina Koch", "Lynne Williams"]
contact: admin@software-carpentry.org
eventbrite: 8883102599
---
<!--
    This block includes the Eventbrite registration widget if 'eventbrite' has been set in the header.
-->
{% if page.eventbrite %}
<iframe src="http://www.eventbrite.ca/tickets-external?eid={{page.eventbrite}}&ref=etckt" frameborder="0" width="100%" scrolling="auto"></iframe>
{% endif %}

<br/><br/>

<p>
  <a href="http://software-carpentry.org">Software Carpentry</a>'s mission
  is to help scientists and engineers become more productive
  by teaching them basic lab skills for computing
  like program design, version control, data management, and task automation.
  This two-day hands-on bootcamp will cover basic concepts and tools;
  participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>

<!-- This block displays the instructors' names if they are available. -->
{% if page.instructor %}
<p>
  <strong>Instructors:</strong>
  {{page.instructor | join: ', ' %}}
</p>
{% endif %}

<!--
    Modify this block to reflect the target audience for your bootcamp.
    In particular, if it is only open to people from a particular institution,
    or if specialized prerequisite knowledge is required, please mention that.
-->
<p>
  <strong>Who:</strong>
  The course is aimed at postgraduate students and other scientists who are familiar with basic programming concepts (like loops, conditionals, arrays, and functions) but need help to translate this knowledge into practical tools to help them work more productively.
</p>

<!--
    This block displays the address and links to a map showing directions.

{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{ page.address }}.
  Get directions with
  <a href="http://www.openstreetmap.org/?mlat={{ page.latlng | replace:',','&mlon=' }}&zoom=16">OpenStreetMap</a>
  or
  <a href="http://maps.google.com/maps?q={{ page.latlng }}">Google Maps</a>.
</p>
{% endif %}
-->

<!--
    Modify the block below if there are any special requirements.
-->
<p>
  <strong>Requirements:</strong>
  Participants must bring a laptop with a few specific software packages installed
  (listed below).
</p>

<!--
    This block automatically inserts a contact email address if one has been specified for the page.
    If one hasn't, this block inserts the generic contact address for Software Carpentry.
-->
<p>
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

<!--
    Edit this block to show the syllabus and schedule for your bootcamp.
-->
<hr/>

<div id="schedule" class="row-fluid">
  <p>
    (Schedule is subject to change.)
  </p>
  <div class="span10">
    <strong>February 22nd</strong>
    <table class="table">
      <tbody>
        <tr>
          <th>Room</th>
          <th style="text-align: right;">K9509</th>
          <th style="text-align: right;">TASC-I 9204 E</th>
        </tr>
        <tr>
          <td>8:30 - 9:00</td>
          <td style="text-align: right;">Setup help</td>
          <td style="text-align: right;">Setup help</td>
        </tr>
        <tr>
          <td>9:00 - 9:15</td>
          <td style="text-align: right;">Overview and introduction</td>
          <td style="text-align: right;">Overview and introduction <i>(Bernhard)</i></td>
        </tr>
        <tr>
          <td>9:15 - 10:30</td>
          <td style="text-align: right;">Navigating in the shell</td>
          <td style="text-align: right;">Intro to R and RStudio <i>(Bernhard)</i></td>
        </tr>
        <tr>
          <td>10:50 - 12:00</td>
          <td style="text-align: right;">Shell scripts and automation</td>
          <td style="text-align: right;">Care and feeding of R objects <i>(Scott)</i></td>
        </tr>
        <tr>
          <td>12:00 - 1:00</td>
          <td style="text-align: right;">Lunch break (no lunch provided)</td>
          <td style="text-align: right;">Lunch break (no lunch provided)</td>
        </tr>
        <tr>
          <td>1:00 - 2:30</td>
          <td style="text-align: right;">Version Control local (shell)</td>
          <td style="text-align: right;">Version Control local <i>(Bernhard)</i></td>
        </tr>
        <tr>
          <td>2:50 - 4:30</td>
          <td style="text-align: right;">Version Control remote (github)</td>
          <td style="text-align: right;">Making figures using ggplot2 <i>(Scott)</i></td>
        </tr>
      </tbody>
    </table>
    <strong>March 1st</strong>
    <table class="table">
      <tbody>
        <tr>
          <th>Room</th>
          <th style="text-align: right;">K9509</th>
          <th style="text-align: right;">ASB 9896</th>
        </tr>
        <tr>
          <td>9:00 - 10:00</td>
          <td style="text-align: right;">Python data structures</td>
          <td style="text-align: right;">File management</td>
        </tr>
        <tr>
          <td>10:20 - 12:00</td>
          <td style="text-align: right;">Python flow control; Python functions</td>
          <td style="text-align: right;">Version control using Github</td>
        </tr>
        <tr>
          <td>12:00 - 1:00</td>
          <td style="text-align: right;">Lunch break (no lunch provided)</td>
          <td style="text-align: right;">Lunch break (no lunch provided)</td>
        </tr>
        <tr>
          <td>1:00 - 2:30</td>
          <td style="text-align: right;">Python testing</td>
          <td style="text-align: right;">Data aggregation using plyr</td>
        </tr>
        <tr>
          <td>2:50 - 4:30</td>
          <td style="text-align: right;">Numpy; Pyplot; Pandas</td>
          <td style="text-align: right;">Automation and pipelines</td>
        </tr>
      </tbody>
    </table>
  </div>
</div> <!-- schedule -->

<hr/>

<h2> Chat rooms during the bootcamp </h2>
	<ul>
		<li> <a href="https://etherpad.mozilla.org/2014-02-swc-sfu-R"> R etherpad </a> </li>
		<li> <a href="https://etherpad.mozilla.org/2014-02-swc-sfu-python"> Python etherpad </a> </li>
	</ul>

<hr/>
<!--
    Edit the setup instructions in _includes/setup.html to reflect your bootcamp.
    (In particular, most bootcamps teach either Python or R, not both.)
-->

<h2>Setup</h2>

<p>
  To participate in a Software Carpentry bootcamp,
  you will need working copies of the software described below.
  Please make sure to install everything
  (or at least to download the installers)
  <em>before</em> the start of your bootcamp.
</p>

{% include setup.html %}
