<hr/>

<div id="schedule" class="row-fluid">
  <p>
    (Schedule is subject to change.)
  </p>
  <div class="span10">
    <strong>February 22nd</strong>
    <table class="table">
      <tbody>
        <tr>
          <th>Room</th>
          <th style="text-align: right;">K9509</th>
          <th style="text-align: right;">TASC-I 9204 E</th>
        </tr>
        <tr>
          <td>8:30 - 9:00</td>
          <td style="text-align: right;">Setup help</td>
          <td style="text-align: right;">Setup help</td>
        </tr>
        <tr>
          <td>9:00 - 9:15</td>
          <td style="text-align: right;">Overview and introduction</td>
          <td style="text-align: right;">Overview and introduction</td>
        </tr>
        <tr>
          <td>9:15 - 10:30</td>
          <td style="text-align: right;">Navigating in the shell</td>
          <td style="text-align: right;">Navigating in the shell</td>
        </tr>
        <tr>
          <td>10:50 - 12:00</td>
          <td style="text-align: right;">Shell scripts and automation</td>
          <td style="text-align: right;">Shell scripts and automation</td>
        </tr>
        <tr>
          <td>12:00 - 1:00</td>
          <td style="text-align: right;">Lunch</td>
          <td style="text-align: right;">Lunch</td>
        </tr>
        <tr>
          <td>1:00 - 2:30</td>
          <td style="text-align: right;">Version Control local (shell)</td>
          <td style="text-align: right;">Version Control local (R studio)</td>
        </tr>
        <tr>
          <td>2:50 - 4:30</td>
          <td style="text-align: right;">Version Control remote (github)</td>
          <td style="text-align: right;">Version Control remote (github)</td>
        </tr>
      </tbody>
    </table>
    <strong>March 1st</strong>
    <table class="table">
      <tbody>
        <tr>
          <th>Room</th>
          <th style="text-align: right;">K9509</th>
          <th style="text-align: right;">ASB 9896</th>
        </tr>
        <tr>
          <td>9:00 - 10:00</td>
          <td style="text-align: right;">Python data structures</td>
          <td style="text-align: right;">R data structures</td>
        </tr>
        <tr>
          <td>10:20 - 12:00</td>
          <td style="text-align: right;">Python flow control; Python functions</td>
          <td style="text-align: right;">R flow control; R functions</td>
        </tr>
        <tr>
          <td>12:00 - 1:00</td>
          <td style="text-align: right;">Lunch</td>
          <td style="text-align: right;">Lunch</td>
        </tr>
        <tr>
          <td>1:00 - 2:30</td>
          <td style="text-align: right;">Python testing</td>
          <td style="text-align: right;">Plotting in R</td>
        </tr>
        <tr>
          <td>2:50 - 4:30</td>
          <td style="text-align: right;">Numpy; Pyplot; Pandas</td>
          <td style="text-align: right;">R regular expressions</td>
        </tr>
      </tbody>
    </table>
  </div>
</div> <!-- schedule -->

